link(rel='stylesheet', href='/stylesheets/sidebar.css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
script(src="https://code.jquery.com/jquery-2.2.3.min.js")  
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(type='text/javascript', src='//code.jquery.com/jquery-1.10.1.js')
script(type='text/javascript', src='/javascripts/sidebar.js')
script(type='text/javascript', src='/javascripts/graficas.js')
                                    
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js')

//tablas
link(rel='stylesheet', type='text/css', href='../vendor/dynatable/jquery.dynatable.css')
script(type='text/javascript', src='../vendor/dynatable/jquery.dynatable.js')
script(type='text/javascript', src='/javascripts/table.js')