extends ../templates/default

block content
  div.panel.panel-default.ingreso(style='margin-top:50px')
    div.panel-heading
        h3.panel-title
          | casi queda
    div.panel-body
        p= 'Hola... ' + user.nombre 